@charset "UTF-8";

/* ----

# Kico Style 1.5
# By: Dreamer-Paul
# Last Update: 2017.8.27

一个简洁、有趣的开源响应式框架，仅包含基础样式，需按照一定规则进行二次开发。

欢迎你加入缤奇，和我们一起改变世界。
本代码为缤奇保罗原创，并遵守 MIT 开源协议。保罗的个人博客：https://hi-paul.space

---- */

/* 0 - 全局
-------------------------------- */
html, body,
dl, dt, dd, ol, ul,
h1, h2, h3, h4, h5, h6,
pre, code, form, p,
fieldset, legend, figure{
    margin: 0;
    padding: 0;
}
body{
    color: #353535;
    font: 16px /1.5 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
}

@media screen and (max-width: 500px){
    body[enable-scale]{
        font-size: 14px;
    }
}
@media screen and (min-width: 1930px){
    body[enable-scale]{
        font-size: 18px;
    }
}

*, *:before, *:after{
    box-sizing: border-box;
}

/* - 部分老式浏览器的更正 */
article, aside,
header, footer,
nav, section, main{
    display: block;
}

/* - 已选内容 */
::-moz-selection{
    color: #fff;
    background-color: rgba(0,0,0,0.66);
}
::selection{
    color: #fff;
    background-color: rgba(0,0,0,0.66);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
::-webkit-scrollbar-thumb {
    min-height: 28px;
    background-color: rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1)
}

::-webkit-scrollbar-track:active {
    background-color: rgba(0,0,0,.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07)
}

/* 1 - 容器
-------------------------------- */
main, footer{
    overflow: hidden;
}

.wrap{
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
}
.wrap.min{
    max-width: 800px;
}
.wrap.mid{
    max-width: 1000px;
}
.wrap.max{
    max-width: 1600px;
}
.wrap.full{
    max-width: 100%;
}
.wrap.thin{
    margin-left: -10px;
    margin-right: -10px;
}
.wrap.clear{
    padding-left: 0;
    padding-right: 0;
}

/* 2 - 元素
-------------------------------- */
h1{
    font-size: 2em;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child{
    margin-bottom: 0;
}

p{
    line-height: 1.8em;
    margin-bottom: 1em;
}

a{
    color: #3498db;
    text-decoration: none;
}
a:hover{
    color: #ffc670;
}

em{
    color: #fff;
    margin: 0 .2em;
    font-style: normal;
    border-radius: 5px;
    padding: .2em .5em;
    background: #3498db;
}

img, svg, video{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/* - 按钮 */
.btn{
    outline: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: #eee;
    user-select: none;
    border-radius: 4px;
    padding: .8em 1.5em;
    display: inline-block;
    border: 1px solid transparent;
}
.btn:hover{
    color: inherit;
}
.btn:active{
    background: #ddd;
}

/* -- 禁用的按钮 */
.btn[disabled]{
    opacity: .5;
    cursor: not-allowed;
}

/* -- 有图标的按钮 */
.btn i{
    margin-right: 5px;
}

/* -- 按钮尺寸 */
.btn.small{
    padding: .5em 1em;
}
.btn.large{
    font-size: 1.2em;
    padding: 1em 2.5em;
}

/* -- 按钮颜色 */
.btn.red, .btn.yellow, .btn.blue, .btn.green{ color: #fff; }
.btn.red:hover, .btn.yellow:hover, .btn.blue:hover, .btn.green:hover{ color: #fff; }

.btn.red    { background: #c40b00; }
.btn.yellow { background: #ffb03a; }
.btn.blue   { background: #3498db; }
.btn.green  { background: #27a17e; }

.btn.red:active    { background: #b00000; }
.btn.yellow:active { background: #eb9c26; }
.btn.blue:active   { background: #2084c7; }
.btn.green:active  { background: #138d6a; }

/* - 代码 */
pre, code{
    font-size: 1em;
    font-family: 'Consolas', 'Courier New', monospace, "微软雅黑";
}

pre > code{
    padding: 0;
    color: #fff;
    font-size: 1em;
    background-color: transparent;
}

pre{
    color: #fff;
    padding: 10px;
    margin: 0 0 1em;
    overflow-x: auto;
    border-radius: 5px;
    background: #333333;
}

pre::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
pre::-webkit-scrollbar-track-piece{
    background: #555555;
    border-radius: 0 0 5px 5px;
}
pre::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(52, 152, 219, 0.9);
}

code{
    color: #c40b00;
    font-size: .8em;
    padding: .25em .5em;
    border-radius: 4px;
    background-color: #f7f2f4;
}

/* - 项目列表 */
ul, ol{
    margin-left: 1.25em;
}
ul.clear{
    margin-left: 0;
    list-style: none;
}
dl dd{
    margin-left: 1.5em;
}
dl dd:before{
    content: "--";
    margin-right: .25em;
}

/* - 补间动画 */
a, h1, h2, h3, h4, h5, h6, .btn{
    transition: color 0.3s, background 0.3s, border 0.3s;
    -moz-transition: color 0.3s, background 0.3s, border 0.3s;
    -webkit-transition: color 0.3s, background 0.3s, border 0.3s;
    -o-transition: color 0.3s, background 0.3s, border 0.3s;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* - 引用*/
blockquote{
    margin: 0 0 1em;
    font-style: oblique;
    background: #f5fafd;
    padding: 1em 1em 1em 2em;
    border-left: 5px #3498db solid;
}

cite{
    color: #3498db;
    font-style: normal;
}



/* - 分割线 */
hr{
    border: 0;
    margin: 1.5em 0;
    border-top: 1px rgba(0, 0, 0, 0.5) solid;
}
hr.light{
    border-top: 1px rgba(255,255,255,0.5) solid;
}

/* - 表单 */
input[disabled]{
    cursor: no-drop;
}
input[readonly]{
    background: rgb(235, 235, 228);
}
input, textarea, select{
    outline: 0;
    font: inherit;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], textarea, select{
    padding: .5em;
    color: inherit;
    border-radius: 4px;
    border: #ccc 1px solid;
}

textarea{
    display: block;
    overflow: auto;
    max-width: 100%;
    resize: vertical;
}

/* - 缤奇表单模组 */
.bk-form label{
    display: block;
    cursor: pointer;
    user-select: none;
}
.bk-form label:last-child{
    margin-bottom: 0;
}

.bk-form label.submit > input[type="text"]{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bk-form label.submit > input[type="text"] + button{
    vertical-align: middle;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bk-form input{
    vertical-align: middle;
}
.bk-form textarea{
    min-width: 100%;
}

/* -- 单选多选框 */
.bk-form input[type="checkbox"], .bk-form input[type="radio"]{
    width: 1em;
    cursor: pointer;
    margin: 0 .5em 0 0;
    vertical-align: top;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.bk-form input[type="checkbox"]:before, .bk-form input[type="radio"]:before{
    width: 1em;
    height: 1em;
    content: '';
    display: block;
    margin-top: .3em;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border 0.3s, background 0.3s, box-shadow 0.3s;
}
.bk-form input[type="radio"]:before{
    border-radius: 100%;
}

.bk-form input[type="checkbox"]:checked:before, .bk-form input[type="radio"]:checked:before{
    background: #3498db;
    border: 4px solid #fff;
    box-shadow: 0 0 0 2px #3498db;
}

/* -- 开关按钮 */
.bk-form input[type="checkbox"].switch{
    width: 60px;
    height: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: rgba(0,0,0,.05);
}
.bk-form input[type="checkbox"].switch:before{
    margin: 0;
    border: 0;
    content: "";
    width: 28px;
    height: 28px;
    display: block;
    box-shadow: none;
    position: absolute;
    border-radius: 100%;
    background: rgba(0,0,0,0.2);
    transition: background 0.3s, transform 0.3s;
}
.bk-form input[type="checkbox"].switch:checked:before{
    background: #3498db;
    transform: translateX(30px);
}

/* - 表单小组 */
.bk-form fieldset{
    cursor: default;
    border: none;
    margin-bottom: 2em;
}
.bk-form fieldset:last-child{
    margin-bottom: 0;
}

.bk-form fieldset > *{
    margin-bottom: 1em;
}
.bk-form fieldset > *:last-child{
    margin-bottom: 0;
}

/* -- 单行表单 */
.bk-form.inline fieldset label, .bk-form fieldset.inline label{
    float: left;
    display: block;
    margin: 0 1em 1em 0;
}

.bk-form fieldset.inline:after{
    content: '';
    clear: both;
    display: block;
}

/* - 表格*/
.bk-table{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 5px;
}

table{
    border: 0;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}
table th, table td{
    padding: .75em;
    text-align: left;
    vertical-align: top;
}

table > thead > tr{
    border-bottom: 2px solid #ccc;
}
table > tbody > tr > td{
    border-bottom: 1px solid #ddd;
}
table > tbody > tr{
    transition: background .3s;
}
table > tbody > tr:hover{
    background: #eee !important;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th,
table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td{
    white-space: nowrap;
}

/* - 蓝色风格 */
table.fill{
    border: 1px solid #3498db;
}
table.fill > thead > tr{
    border-bottom: none;
}
table.fill > tbody{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
table.fill > thead > tr > th, table.fill > thead > tr > td{
    color: #fff;
    padding: 1em .75em;
    background: #3498db;
}
table.fill > tbody > tr:nth-child(2n) > th, table.fill > tbody > tr:nth-child(2n){
    background: #f7f7f7;
}

/* - 嵌入式网页 */
iframe{
    border: none;
}

/* - 栅格系统 */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}
.row.thin{
    margin-left: -10px;
    margin-right: -10px;
}
.row.full{
    margin-left: 0;
    margin-right: 0;
}

/* -- 对齐方式 */
.row.right{
    justify-content: flex-end;
}
.row.center{
    justify-content: center;
}
.row.around{
    justify-content: space-around;
}
.row.between{
    justify-content: space-between;
}

/* -- 网格间距 */
.row [class*="col-"]{
    padding-left: 20px;
    padding-right: 20px;
}
.row.thin [class*="col-"]{
    padding-left: 10px;
    padding-right: 10px;
}
.row.full [class*="col-"]{
    padding: 0;
    margin-bottom: 0;
}

/* -- 网格主体 */
.row [class*="col-s-"], [class*="col-m-"], [class*="col-l-"]{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: 2em;
}
.row [class*="col-s-"]:last-child, [class*="col-m-"]:last-child, [class*="col-l-"]:last-child{
    margin-bottom: 0 !important;
}

@media screen and (min-width: 600px){
    .row [class*="col-s-"]{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 900px){
    .row [class*="col-m-"]{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1024px){
    .row [class*="col-l-"]{
        margin-bottom: 0;
    }
}

/* --- 固定的 */
.row .col-1{
    -ms-flex: 0 0 8.3333%;
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}
.row .col-2{
    -ms-flex: 0 0 16.6666%;
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
}
.row .col-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.row .col-4{
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.row .col-5{
    -ms-flex: 0 0 41.3333%;
    flex: 0 0 41.6666%;
    max-width: 41.6666%;
}
.row .col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.row .col-7{
    -ms-flex: 0 0 58.3333%;
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}
.row .col-8{
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
}
.row .col-9{
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.row .col-10{
    -ms-flex: 0 0 83.3333%;
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}
.row .col-11{
    -ms-flex: 0 0 91.6666%;
    flex: 0 0 91.6666%;
    max-width: 91.6666%;
}
.row .col-12{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/* --- 手机 */
@media screen and (min-width: 600px){
    .row .col-s-1{
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
    .row .col-s-2{
        -ms-flex: 0 0 16.6666%;
        flex: 0 0 16.6666%;
        max-width: 16.6666%;
    }
    .row .col-s-3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row .col-s-4{
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .row .col-s-5{
        -ms-flex: 0 0 41.3333%;
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }
    .row .col-s-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row .col-s-7{
        -ms-flex: 0 0 58.3333%;
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .row .col-s-8{
        -ms-flex: 0 0 66.6666%;
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .row .col-s-9{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .row .col-s-10{
        -ms-flex: 0 0 83.3333%;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .row .col-s-11{
        -ms-flex: 0 0 91.6666%;
        flex: 0 0 91.6666%;
        max-width: 91.6666%;
    }
    .row .col-s-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* --- 平板 */
@media screen and (min-width: 900px){
    .row .col-m-1{
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
    .row .col-m-2{
        -ms-flex: 0 0 16.6666%;
        flex: 0 0 16.6666%;
        max-width: 16.6666%;
    }
    .row .col-m-3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row .col-m-4{
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .row .col-m-5{
        -ms-flex: 0 0 41.3333%;
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }
    .row .col-m-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row .col-m-7{
        -ms-flex: 0 0 58.3333%;
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .row .col-m-8{
        -ms-flex: 0 0 66.6666%;
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .row .col-m-9{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .row .col-m-10{
        -ms-flex: 0 0 83.3333%;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .row .col-m-11{
        -ms-flex: 0 0 91.6666%;
        flex: 0 0 91.6666%;
        max-width: 91.6666%;
    }
    .row .col-m-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* --- 电脑 */
@media screen and (min-width: 1024px){
    .row .col-l-1{
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
    .row .col-l-2{
        -ms-flex: 0 0 16.6666%;
        flex: 0 0 16.6666%;
        max-width: 16.6666%;
    }
    .row .col-l-3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row .col-l-4{
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .row .col-l-5{
        -ms-flex: 0 0 41.3333%;
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }
    .row .col-l-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row .col-l-7{
        -ms-flex: 0 0 58.3333%;
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .row .col-l-8{
        -ms-flex: 0 0 66.6666%;
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .row .col-l-9{
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .row .col-l-10{
        -ms-flex: 0 0 83.3333%;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .row .col-l-11{
        -ms-flex: 0 0 91.6666%;
        flex: 0 0 91.6666%;
        max-width: 91.6666%;
    }
    .row .col-l-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* -- 网格对齐方式 */
.row > *.left, .row > *.right, .row > *.top, .row > *.bottom, .row > *.center{
    display: flex;
    flex-direction: column;
}

.row > *.center{
    align-items: center;
    justify-content: center;
}
.row > *.center-fixed{
    text-align: center;
}
.row > *.left{
    -webkit-box-align: start;
    align-items: flex-start;
}
.row > *.right{
    align-items: flex-end;
}
.row > *.top{
    justify-content: flex-start;
}
.row > *.bottom{
    justify-content: flex-end;
}

@media screen and (max-width: 900px){
    .row > *.to-center{
        align-items: center !important;
    }
}

/* - 隐藏栅格功能 */
@media screen and (max-width: 600px){
    .row > *.hide-small{
        display: none;
    }
}
@media screen and (max-width: 900px){
    .row > *.hide-middle{
        display: none;
    }
}
@media screen and (max-width: 1024px){
    .row > *.hide-large{
        display: none;
    }
}

/* 4 - 组件
-------------------------------- */

/* - 弹窗 */
.bk-notice-list{
    top: 3em;
    left: 0;
    right: 0;
    z-index: 60;
    position: fixed;
    pointer-events: none;
}
.bk-notice-list .bk-notice {
    color: #fff;
    overflow: hidden;
    background: #333;
    padding: .5em 1em;
    border-radius: 3em;
    pointer-events: auto;
    animation: fade-in-bottom 0.3s backwards;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);

    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
.bk-notice.remove{
    animation: fade-in-top 0.3s both reverse;
}

/* -- 弹窗颜色 */
.bk-notice.red{
    color: #f55d5b;
    background: #ffe8e0;
}
.bk-notice.yellow{
    color: #eb9c26;
    background: #fcf8e3;
}
.bk-notice.blue{
    color: #3498db;
    background: #d9edf7;
}
.bk-notice.green{
    color: #27a17e;
    background: #dff0d8;
}

.bk-notice .close{
    float: right;
    cursor: pointer;
    padding: .5em 1em;
    margin: -.5em -1em;
    transition: background .3s;
}
.bk-notice .close:hover{
    background: rgba(0, 0, 0, .1);
}
.bk-notice .close:after{
    content: 'X';
    font: inherit;
}

/* - 遮罩 */
.overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    position: fixed;
    animation: fade-in 0.5s both;
    background: rgba(0, 0, 0, .5);
}
.overlay.remove{
    animation: fade-off 0.5s both;
}

/* - 图片放大 */
img[bk-imgs=active]{
    cursor: zoom-in;
}
.bk-imgs{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 66;
}
.bk-imgs:before{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    animation: fade-in .5s both;
    background: rgba(0, 0, 0, .5);
}
.bk-imgs img{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    cursor: zoom-out;
    position: absolute;
    animation: scale-large .3s both;
}
.bk-imgs.remove:before{
    animation: fade-off .3s both;
}
.bk-imgs.remove img{
    animation: scale-small .3s both;
}

.bk-imgs img[src$=".jpg"]{
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

/* 4 - 动画
-------------------------------- */
.bk-animate{
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.bk-animate.infinite{
    animation-iteration-count: infinite;
}
.bk-animate.loop{
    animation-direction: alternate;
}
.bk-animate.reverse{
    animation-direction: reverse;
}

/* - 动画时长 */
.bk-animate.slow{
    animation-duration: 2s;
}
.bk-animate.fast{
    animation-duration: 0.5s;
}

/* - 位移动画 */
.bk-animate.up-and-down{
    animation-name: up-and-down;
    animation-direction: alternate;
}
@keyframes up-and-down{
    0%{ transform: translateY(-20px); }
    100%{ transform: translateY(20px); }
}

.bk-animate.left-and-right{
    animation-name: left-and-right;
    animation-direction: alternate;
}
@keyframes left-and-right{
    0%{ transform: translateX(-20px); }
    100%{ transform: translateX(20px); }
}

/* - 旋转动画 */
.bk-animate.rotate{
    animation-name: rotate;
}
@keyframes rotate{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

.bk-animate.slide-left-right{
    animation-name: slide-left-right;
    animation-direction: alternate;
}
@keyframes slide-left-right {
    0%{ transform: translateX(-60px) rotate(-15deg); }
    100%{ transform: translateX(60px) rotate(15deg); }
}

/* - 淡入动画 */
.bk-animate.fade-in{
    animation-name: fade-in;
}
@keyframes fade-in {
    0% { opacity: 0 }
    100%{ opacity: 1 }
}
.bk-animate.fade-off{
    animation-name: fade-in;
}
@keyframes fade-off {
    0% { opacity: 1 }
    100%{ opacity: 0 }
}

.bk-animate.fade-in-top{
    animation-name: fade-in-top;
}
@keyframes fade-in-top{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bk-animate.fade-in-bottom{
    animation-name: fade-in-bottom;
}
@keyframes fade-in-bottom{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bk-animate.fade-in-left{
    animation-name: fade-in-left;
}
@keyframes fade-in-left {
    0%{
        opacity: 0;
        transform: translateX(20px)
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.bk-animate.fade-in-right{
    animation-name: fade-in-right;
}
@keyframes fade-in-right {
    0%{
        opacity: 0;
        transform: translateX(-20px)
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.bk-animate.fade-small{
    animation-name: fade-small;
}
@keyframes fade-small {
    0%{ opacity: 0; transform: scale(1.5, 1.5); }
    100%{ opacity: 1; transform: scale(1, 1); }
}

.bk-animate.fade-large{
    animation-name: fade-large;
}
@keyframes fade-large {
    0%{ opacity: 0; transform: scale(.5, .5); }
    100%{ opacity: 1; transform: scale(1, 1); }
}

/* - 缩放动画 */
.bk-animate.scale-small{
    animation-name: scale-small;
}
@keyframes scale-small {
    0%{ transform: scale(1, 1); }
    100%{ transform: scale(0, 0); }
}

.bk-animate.scale-large{
    animation-name: scale-large;
}
@keyframes scale-large {
    0%{ transform: scale(0, 0); }
    100%{ transform: scale(1, 1); }
}

.bk-animate.scale-small-left{
    animation-name: scale-small-left;
}
@keyframes scale-small-left {
    0%{ transform: scale(1.5, 1.5) translateX(15%); }
    100%{ transform: scale(1, 1) translateX(0);}
}

.bk-animate.scale-small-right{
    animation-name: scale-small-right;
}
@keyframes scale-small-right {
    0%{ transform: scale(1.5, 1.5) translateX(15%); }
    100%{ transform: scale(1, 1) translateX(0);}
}


/* ----

:) Copyright (C) 2017 Binkic Team. Made With ♥ By Paul.

---- */