@charset "UTF-8";

/* ----

# Single Theme
# By: Dreamer-Paul
# Last Update: 2018.4.27

一个简洁大气，含夜间模式的 Typecho 博客模板。

欢迎你加入缤奇，和我们一起改变世界。
本代码为奇趣保罗原创，并遵守 MIT 开源协议。欢迎访问我的博客：https://paugram.com

---- */

/* 0 - 全局
-------------------------------- */
body{
    color: #555;
    background: #fafafa;
    font-weight: lighter;
    transition: margin .3s, background .3s;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{ background: #6f9fc7; }
::-webkit-scrollbar-thumb:hover{ background: #9fcff7; }

body::-webkit-scrollbar{
    border-left: 1px solid #eee;
    background: rgba(255, 255, 255, .6);
}

a{ color: #6f9fc7; }
a:hover{ color: #9fcff7; }

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

hr{ border-color: #eee; }

em{ background: #6f9fc7; }

.btn{
    color: #fff;
    background: #6f9fc7;
}
.btn:hover{
    color: #fff;
    background: #9fcff7;
}

pre > code{
    border: 1px solid transparent;
}

blockquote{
    background: #ecf1f5;
    border-color: #6f9fc7;
}

input, textarea{ background: #fff; }
input, textarea, code, hr, blockquote{
    transition: border .3s, background .3s;
}

/* - 夜间风格 */
body.neon{
    color: #999;
    background: #333;
}

body.neon::-webkit-scrollbar{
    border-color: transparent;
    background: rgba(255, 255, 255, .2);
}

body.neon a{ color: #c9861d; }
body.neon a:hover{ color: #eb9c26; }

body.neon img{
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
}

body.neon pre code{ border: 1px solid #555; }

body.neon code, body.neon iframe, body.neon em{ opacity: .6; }

body.neon blockquote{
    color: #c9861d;
    border-color: #eb9c26;
    background: rgba(255, 255, 255, .05);
}

body.neon input, body.neon textarea, body.neon .btn, body.neon .link-friends .item{
    color: inherit;
    border-color: #555;
    background: #404040;
}

/* -- 头部与尾部 */
body.neon header, body.neon .head-menu .sub-menu,
body.neon .to-top, body.neon .toggle-list{
    color: #aaa;
    background: #444;
    border-color: #555;
}

/* -- 头部 */
body.neon .head-search input{
    color: #bbb;
    background: #666;
    border-color: transparent;
}
body.neon .head-search input::-webkit-input-placeholder{ color: #bbb; }

body.neon header li a{ color: #aaa; }
body.neon header li a:hover{ color: #ddd; }

/* -- 目录树 */
body.neon main .article-list{
    background: none;
    border-color: #555;
}

/* -- 边框颜色 */
body.neon hr,
body.neon .post-item h2 a, body.neon .post-title, body.neon .page-title, body.neon .post-author,
body.neon footer, body.neon .to-top, body.neon .toggle-list{
    border-color: #555;
}

@media screen and (max-width: 600px){
    body.neon .head-menu .sub-menu{
        background: none;
    }
}

/* 1 - 页眉
-------------------------------- */
header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #666;
    position: fixed;
    line-height: 1em;
    background: #fff;
    border-bottom: 1px solid #ddd;
    transition: border .3s, background .3s;
}

/* - 头部标题 */
.head-title{
    left: 0;
    right: 0;
    line-height: 3.2em;
    position: absolute;
    text-align: center;
}
@media screen and (min-width: 600px){
    .head-title{ display: none; }
}

/* - 头部菜单 */
.head-menu{
    margin: 0;
    display: flex;
    list-style: none;
    user-select: none;

    justify-content: center;

}

.head-menu > li{
    position: relative;
    line-height: 2.25em;
}

.head-menu li a{
    color: #555;
    display: block;
    cursor: pointer;
}
.head-menu li a:hover{ color: #ffa628; }

.head-menu li.has-child > a:after{
    float: right;
    content: "\f107";
    margin-left: .3em;
    font-family: "FontAwesome";
}

/* -- 手机版 */
@media screen and (max-width: 600px){
    .head-menu{
        max-height: 0;
        padding: 0 1em;
        display: block;
        overflow-y: auto;
        border-right: .5em solid transparent;
        transition: margin .3s, max-height .3s;
    }
    .head-menu.active{
        margin: 1em 0;
        max-height: 18rem;
    }

    .head-menu::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }
    .head-menu::-webkit-scrollbar-thumb{
        border-radius: 5px;
        background: rgba(0, 0, 0, .1);
    }
}

/* -- 电脑版 */
@media screen and (min-width: 599px){
    .head-menu{
        left: 0;
        right: 0;
        position: absolute;
    }

    .head-menu > li{
        padding: .6em 0;
        line-height: 2em;
        margin-right: 1em;
    }
    .head-menu > li:last-child{ margin-right: 0; }
}

/* - 子菜单 */
.head-menu .sub-menu{ transition: background 0.3s; }
.head-menu .sub-menu a{ line-height: 2em; }

/* -- 电脑版 */
@media screen and (min-width: 599px){
    .head-menu li:hover > .sub-menu{
        opacity: 1;
        visibility: visible;
    }

    .head-menu .sub-menu{
        margin: 0;
        opacity: 0;
        top: 3.25em;
        width: 11em;
        list-style: none;
        background: #fff;
        padding: .5em 1em;
        visibility: hidden;
        position: absolute;
        border: 1px solid #ddd;
        border-radius: 0 0 5px 5px;
        border-top-color: transparent !important;
        transition: opacity .15s, visibility .15s;
    }

    .toggle-btn{ display: none; }
}

.toggle-btn, .light-btn, .search-btn{
    z-index: 1;
    float: left;
    width: 2em;
    margin: .6em;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    transition: color 0.3s, background 0.3s;
}

.toggle-btn{ margin-right: 0; }
.search-btn{ float: right; }

.toggle-btn:hover, .light-btn:hover, .search-btn:hover{
    background: rgba(0, 0, 0, .05);
}

.toggle-btn:before, .light-btn:before, .search-btn:before{
    display: block;
    text-align: center;
    font: 1em/2em "FontAwesome";
}

.toggle-btn:before{ content: "\f0c9"; }
.light-btn:before{ content: "\f0eb"; }
.search-btn:before{ content: "\f002"; }

.head-search{
    z-index: 1;
    opacity: 0;
    float: right;
    margin: .6em 0;
    line-height: 1.5em;
    position: relative;
    pointer-events: none;
    transition: opacity 0.3s;
}
.head-search.active{
    opacity: 1;
    pointer-events: inherit;
}

.head-search input{
    height: 2em;
    width: 10em;
    border-radius: 50px;
    padding: .25em .75em;
}

@media screen and (max-width: 600px){
    .head-search{
        float: none;
        margin-left: 6.5em;
        margin-right: 3.5em;
    }

    .head-search input{ width: 100%; }
}

/* 2 - 正文
-------------------------------- */
main{
    padding: 3.5em 0;
    margin-top: 3.2em;
}

main img{ transition: filter .3s; }

/* - 高分屏支持 */
@media screen and (min-width: 1930px){
    body{ font-size: 18px; }
    .wrap{ max-width: 1000px !important; }
}

/* - 首页大标题 */
.home-title{
    text-align: center;
    margin-bottom: 3em;
    animation: fade-in-bottom .3s both; -webkit-animation: fade-in-bottom .3s both;
}

.home-title h1{ color: #6e8aad; }

.home-title span{
    display: block;
    margin-bottom: 1em;
    font-style: oblique;
}

/* - 头像 */
.home-title img{
    max-width: 150px;
    border-radius: 100%;
    border: 3px solid #fff;
    margin-bottom: 1em;
}

/* - 社交链接 */
.home-title .home-social{ cursor: default; }

.home-title .home-social a{
    color: inherit;
    display: inline-block;
}

.home-title .home-social i{ padding: .5em; }

/* - 文章简要 */
.post-item{ margin-bottom: 3em; }
.post-item:last-child{ margin-bottom: 0; }

/* -- 动画 */
.post-item:nth-child(1){ animation: fade-in-top .3s .2s both; -webkit-animation: fade-in-top .3s .2s both; }
.post-item:nth-child(2){ animation: fade-in-top .3s .3s both; -webkit-animation: fade-in-top .3s .3s both; }
.post-item:nth-child(3){ animation: fade-in-top .3s .4s both; -webkit-animation: fade-in-top .3s .4s both; }
.post-item:nth-child(4){ animation: fade-in-top .3s .5s both; -webkit-animation: fade-in-top .3s .5s both; }
.post-item:nth-child(5){ animation: fade-in-top .3s .6s both; -webkit-animation: fade-in-top .3s .6s both; }
.post-item:nth-child(6){ animation: fade-in-top .3s .7s both; -webkit-animation: fade-in-top .3s .7s both; }

.post-item h2{ margin-bottom: .5em; }

.post-item h2 a{
    line-height: 2em;
    padding-bottom: .3rem;
    border-bottom: 2px solid #eee;
    transition: color .3s, border .3s;
}

.post-item .edit-link{
    font-size: 1rem;
    line-height: inherit;
}

/* - 文章属性 */
.post-meta a{ color: inherit; }

.post-meta span, .post-meta time{
    margin-right: .8em;
    display: inline-block;
}

.post-meta > *:last-child{ margin: 0; }

.post-meta > *:before{
    font-size: inherit;
    margin-right: .4em;
    display: inline-block;
    font-family: "FontAwesome";
}

.post-meta .date:before{ content: "\f017"; }
.post-meta .category:before{ content: "\f07b"; }
.post-meta .tags:before{ content: "\f02c"; }
.post-meta .comments:before{ content: "\f086"; }

/* - 换页 */
.page-navigator{
    margin-left: 0;
    cursor: default;
    margin-top: 60px;
    font-size: 1.25em;
    text-align: center;
    animation: fade-in-top .3s .7s both; -webkit-animation: fade-in-top .3s .7s both;
}

.page-navigator li{
    font-weight: normal;
    display: inline-block;
}

.page-navigator li.current a{ color: inherit; }
.page-navigator li a{
    display: block;
    padding: .25em .3em;
}

/* - 阅读页标题 */
.post-title, .page-title{
    margin-bottom: 1em;
    padding-bottom: 1em;
    transition: border 0.3s;
    border-bottom: 1px solid #ddd;
    animation: fade-in-bottom .3s both; -webkit-animation: fade-in-bottom .3s both;
}

.post-title h2, .page-title h2{
    color: #6e8aad;
    margin-right: .25rem;
    display: inline-block;
}

.page-title h2{ margin-bottom: 0; }

/* - 编辑文章 */
.post-item .edit-link, .page-title .edit-link, .post-title .edit-link{
    display: inline-block;
}

/* - 阅读页正文 */
.post-content, .page-content{ animation: fade-in-top .3s .2s both; -webkit-animation: fade-in-top .3s .2s both; }
.post-content, .page-content, .post-near, .post-author{ margin-bottom: 3em; }

.post-content h1:before, .page-content h1:before,
.post-content h2:before, .page-content h2:before,
.post-content h3:before, .page-content h3:before{
    opacity: .5;
    content: "#";
    margin-right: .3em;
}

.post-near{ animation: fade-in-top .3s .3s both; -webkit-animation: fade-in-top .3s .3s both; }

/* - 阅读页作者信息 */
.post-author{
    display: flex;
    padding: 1.5em 0;
    align-items: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    transition: border 0.3s, filter 0.3s;
    animation: fade-in-top .3s .4s both; -webkit-animation: fade-in-top .3s .4s both;
}

.post-author figure{
    flex: 0 0 80px;
    max-width: 80px;
}

.post-author img{
    border-radius: 100%;
    vertical-align: middle;
}

.post-author div{
    max-width: 750px;
    margin-left: 1.5em;
}

.post-author h4{
    font-weight: bold;
    margin-bottom: .5em;
}

/* - 阅读页评论 */
.post-comments{ animation: fade-in-top .3s .5s both; -webkit-animation: fade-in-top .3s .5s both; }

.post-comments input, .post-comments textarea{
    width: 100%;
    display: block;
}

/* -- 评论列表 */
.post-comments{ word-break: break-all; }

.post-comments form{ margin-bottom: 3em; }

.post-comments .comment-list{
    margin-left: 0;
    list-style: none;
    margin-bottom: 2em;
}
.post-comments .comment-list:last-child{ margin-bottom: 0; }

.comment-list li{
    position: relative;
    padding-left: 60px;
    margin-bottom: 1.5em;
}
.comment-list li:after{
    content: "";
    clear: both;
    display: block;
}
.comment-list li:last-child{ margin-bottom: 0; }

/* --- 评论头像 */
.comment-list .avatar{
    top: 0;
    left: 0;
    min-width: 45px;
    max-width: 45px;
    position: absolute;
    border-radius: 100%;
    transition: transform .3s ease-in-out;
}

.comment-list li:hover .avatar{
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
}

/* --- 评论信息 */
.comment-list .comment-meta{
    margin-bottom: .25em;
}

.comment-list .comment-time:before{
    content: "\f017";
    margin-right: .4em;
    display: inline-block;
    font-family: "FontAwesome";
}

.comment-list .comment-author,
.comment-list .comment-time{
    margin-right: .8em;
}

/* --- 评论内容 */
.comment-children{ margin-top: 1.5em; }

.comment-list .comment-reply a{ color: #aaa; }
.comment-list .comment-reply a:hover{ color: #555; }

.comment-list .cancel-comment-reply{
    display: block;
    text-align: right;
    margin-bottom: .5em;
}

/* -- 文章目录 */
.article-list{
    top: 3.2em;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    width: 15em;
    padding: 1em;
    overflow: auto;
    position: fixed;
    visibility: hidden;
    border-left: 1px solid #ccc;
    background: rgba(255, 255, 255, .5);
    transition: visibility .3s, border .3s, opacity .3s, background .3s;
}
.article-list.active{
    opacity: 1;
    visibility: visible;
    background: rgba(255, 255, 255, .95);
}
.article-list::-webkit-scrollbar{ width: 0; height: 0; }

.article-list a{
    display: block;
    margin-bottom: .5em;
}
.article-list a:last-child{ margin-bottom: 0; }

.article-list a.item-2:before,
.article-list a.item-3:before,
.article-list a.item-4:before,
.article-list a.item-5:before,
.article-list a.item-6:before{
    margin-right: .5em;
}

.article-list a.item-2:before{ content: "-"; }
.article-list a.item-3:before{ content: "--"; }
.article-list a.item-4:before{ content: "---"; }
.article-list a.item-5:before{ content: "----"; }
.article-list a.item-6:before{ content: "-----"; }

@media screen and (min-width: 800px){
    body.has-trees{
        margin-right: 15em;
    }

    .article-list{
        opacity: 1;
        visibility: visible;
    }
}

/* - 错误页面 */
.error-page{
    text-align: center;
    animation: fade-in-bottom .3s both; -webkit-animation: fade-in-bottom .3s both;
}

.error-page h1{
    font-size: 5em;
    line-height: 1em;
}

.error-page img{ width: 400px; }

/* 3 - 页尾
-------------------------------- */
footer{
    border-top: 1px solid #eee;
    transition: border 0.3s, background 0.3s;
}

footer .buttons{
    right: 1em;
    bottom: 5em;
    z-index: 1;
    position: fixed;
}

footer .to-top, footer .toggle-list{
    padding: .5em;
    display: block;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    transform: translateX(5em);
    transition: color .3s, border .3s, background .3s, transform .3s;
}
footer .to-top.active{ transform: translateX(0); }
footer .to-top:before, footer .toggle-list:before{
    width: 1.5em;
    display: block;
    content: "\f062";
    text-align: center;
    font-family: "FontAwesome";
}
footer .toggle-list{
    display: none;
    margin-top: .5em;
}
footer .toggle-list:before{ content: '\f00b'; }

@media screen and (max-width: 800px){
    footer .toggle-list{
        display: block;
        transform: translateX(0);
    }
}

footer .widget{ padding: 2em 0; }

footer .title-comments:after,
footer .title-recent:after,
footer .title-date:after{
    float: right;
    margin-right: .75em;
    font-family: "FontAwesome";
}

footer .title-comments:after{ content: "\f0e6"; }
footer .title-recent:after{ content: "\f040"; }
footer .title-date:after{ content: "\f017"; }

footer .widget ul{
    margin: 0;
    list-style: none;
}

footer .widget ul li{
    margin-bottom: .5em;
}
footer .widget ul li:before{
    content: "\f105";
    margin-right: .75em;
    font-family: "FontAwesome";
}

footer .sub-footer{
    padding: 1em 0;
    text-align: center;
}

footer .sub-footer p{
    font-size: .875em;
}